<section class="header">
        <header></header>
        <nav>
            <a href="/"><img class="lib-logo" src="../img/library_logo.png" alt="Logo"></a>
            <div id="nav-ul" class="nav-ul">
                <a href="/about">
                    <div class="nav-li">
                        <h3>About Us</h3>
                    </div>
                </a>
                <div class="nav-li">          
                        <div class="nav-li-header">
                            <h3>Resources</h3>
                            <svg class="expand-btn" viewBox="0 0 1024 1024">
                                <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                            </svg>
                        </div>
                        <ul class="dropdown">
                            <a class="dropdown-link" href="/books"><li>Library Catalogue</li></a>
                            <a class="dropdown-link" href="https://www.ekg.org.hk/"><li>eKG</li></a>
                            <a class="dropdown-link" href="https://www.wolterskluwer.com/en/solutions/lexicomp"><li>Lexicomp</li></a>
                            <a class="dropdown-link" href="https://www.uptodate.com/contents/search"><li>UpToDate</li></a>
                        </ul>
                </div>
                <a href="/service"><div class="nav-li"><h3>Services</h3></div></a>
                <a href="/users/login"><div class="nav-li"><h3>Login</h3></div></a>



                <!-- <div class="nav-li">          
                    <div class="nav-li-header">
                        <h3>Config</h3>
                        <svg class="expand-btn" viewBox="0 0 1024 1024">
                            <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                        </svg>
                    </div>
                    <ul class="dropdown">
                        <a class="dropdown-link" href="/books/upload"><li>Upload</li></a>
                    </ul>
                </div> -->
            </div>
            <svg id="menu" class="menu-icon" viewBox="0 0 24 24">
                <path d="M2 6h20M2 12h20M2 18h20"/>
            </svg>
        </nav>
</section>
 