<section class="header">
        <header></header>
        <nav>
            <a href="/"><img class="lib-logo" src="../img/library_logo.png" alt="Logo"></a>
            <div id="nav-ul" class="nav-ul">
                <div class="nav-li"><h3><a href="/about">About Us</a></h3></div>
                <div class="nav-li">          
                        <div class="nav-li-header">
                            <h3>Resources</h3>
                            <svg class="expand-btn" viewBox="0 0 1024 1024">
                                <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                            </svg>
                        </div>
                        <ul class="dropdown">
                            <li><a class="dropdown-link" href="https://ha.primo.exlibrisgroup.com/discovery/search?vid=852HA_INST:opac">Library Catalogue</a></li>
                            <li><a class="dropdown-link" href="https://www.ekg.org.hk/">eKG</a></li>
                            <li><a class="dropdown-link" href="https://www.wolterskluwer.com/en/solutions/lexicomp">Lexicomp</a></li>
                            <li><a class="dropdown-link" href="https://www.uptodate.com/contents/search">UpToDate</a></li>
                        </ul>
                </div>
                <div class="nav-li"><h3><a href="/service">Services</a></h3></div>
            </div>
            <svg id="menu" class="menu-icon" viewBox="0 0 24 24">
                <path d="M2 6h20M2 12h20M2 18h20"/>
            </svg>
        </nav>
        <div class="hero"></div>
</section>
 