<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>
<body>
    <%- include('partials/nav'); %>
    <main class="view">
        <div class="main-container">
            <h2 class="signture-header">Our Mission</h2>
            <div class="grid grid-container1x">
                <p class="content">We provide current and authoritative information to support the work and professional development of the healthcare personnel.</p>
            </div>
            <h2 class="signture-header">Scope of Services</h2>
            <div class="grid grid-container1x">
                <p class="content">The Library provides knowledge and information services to all staff of QEH, the professional staff of HA, and affiliated members of the Library.  Our services include provision of current and authoritative print and electronic resources related to healthcare to support work and continuous professional development.  We are also offering workshops on evidence-based clinical information searching to our patrons.</p>
            </div>
            <h2 class="signture-header">Opening Hour</h2>
            <div class="grid grid-container1x">
                <p class="content content-multi-lines">Monday to Friday: 09:00 - 18:00</p>
                <p class="content content-multi-lines">Saturday, Sunday & Public Holiday: Closed</p>
            </div>
            <h2 class="signture-header">Contact</h2>
            <div class="grid grid-container1x">
                <p class="content content-multi-lines">Phone: 3506 6750</p>
                <p class="content content-multi-lines">Fax: 2384 1417</p>
                <p class="content content-multi-lines"><a href="mailto:qeh_library@ha.org.hk">Email: qeh_library@ha.org.hk</a></p>
            </div>
            <h2 class="signture-header">Location</h2>
            <div class="grid grid-container1x">   
                <p class="content" style="padding-bottom: 2rem;">M4, Queen Elizabeth Hospital</p>           
                
            </div>
            <span class="underscore-link"><a href="/">Return</a></span>
        </div>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>