<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>
<body>
    <%- include('partials/nav'); %>
    <main class="home">
        <div class="main-container home-main1">
            <h2>Resources</h2>
            <ul>
                <li><a href="/books">Library Catalogue</a></li>
                <li><a href="https://www.ekg.org.hk/"  target="_blank">eKG</a></li>
                <li><a href="https://www.wolterskluwer.com/en/solutions/lexicomp"  target="_blank">Lexicomp</a></li>
                <li><a href="https://www.uptodate.com/contents/search"  target="_blank">UpToDate</a></li>
                <li><a href="https://pubmed.ncbi.nlm.nih.gov/?otool=ihkhalnlib" target="_blank">PubMad</a></li>
                <li><a href="https://www.nice.org.uk/guidance" target="_blank">NICE</a></li>
                <li><a href="https://rb.gy/oqo04" target="_blank">MEDICINE</a></li>
                <li><a href="https://www.ebsco.com/" target="_blank">EBSCO</a></li>
                <li><a href="https://www.ebsco.com/products/gobi-library-solutions" target="_blank">GOBI</a></li>
            </ul>
        </div>

        <div class="main-container home-main2">
            <h2>New Additions</h2>
            <div class="grid grid-container2x">
                <% if (books.length == 0) { %>
                    <div class="grid grid-container1x">
                        <p class="content">No New Addition</p>
                    </div> 
                <% } else { %>
                    <% books.forEach(book => { %>      
                        <% books.forEach(book => { %>

                            <div class="grid-item grid-item2x">
                                <img src="<%= book.img %>" alt="">
                                <a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=852HA_INST:opac&search_scope=MyInstitution&tab=LibraryCatalog&docid=alma991001030009706806" target="_blank"><button>View</button></a>
                            </div>
        
                        <% }) %>
                    <% }) %>    
                <% } %>

            </div>
            <span class="underscore-link"><a href="/books/new-additions">View More</a></span>
        </div>

        <div class="main-container home-main3 main-article-container">
            <h2>News</h2>
            <div>
                <h3>Lexicomp</h3>
                <p>
                    Every time you work with a patient, member, or consumer's drug regimen, you consider the needs of that unique patient at that specific moment in their care journey. And, given the volume of patients, you need to do so quickly.<br>
                    - Unparalleled commitment to medication safety<br>
                    - Enabling a patient-specific approach<br>
                    - Formulary management, customized to fit your needs<br>
                    - Advanced technology, to power the information you need<br>
                </p>
            </div>  
            <div>
                <h3>UpToDate</h3>
                <p>
                    96% of nurses surveyed agree that UpToDate helps them improve patient safety.<br>
                    - Increase medical knowledge<br>
                    - Save time<br>
                    - Minimizes drug risk<br>
                    - Promotes shared decision-making with patients<br>
                </p>
            </div>
        </div>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>