<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>
<body>
    <%- include('partials/nav'); %>
    <main class="view">
        <div class="main-container">
            <h2>New Additions</h2>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/A Guide to the Formulation of Plans and Goals in Occupational Therapy.jpg" alt="">                   
                    <div class="book-container">
                        <h3>A Guide to the Formulation of Plans and Goals in Occupational Therapy</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: WB555 .P372 2021</p>
                                <p>This book introduces a tried and tested method for moving from assessment to intervention, by formulating plans and measurable goals using the influential Model of Human occupation (MOHO). (Amazon)</p>
                            </div>
                            <div>
                                <button><a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=852HA_INST:opac&search_scope=MyInstitution&tab=LibraryCatalog&docid=alma991001030009706806" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/A Nurse's Step-by-step Guide to Writing a Dissertation or Scholarly Project - Copy.jpg" alt="">                   
                    <div class="book-container">
                        <h3>A Nurse's Step-by-step Guide to Writing a Dissertation or Scholarly Project</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: WY18.2 .R68 2019</p>
                                <p>This book provides a guide for anyone embarking 
                                    on a dissertation or scholarly project. It is packed 
                                    with practical steps and tools and included various 
                                    formats for manuscript dissertations which will help 
                                    you plan, document, organize, and write your 
                                    dissertation or scholarly project. (Amazon)
                                    </p>
                            </div>
                            <div>
                                <button><a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=852HA_INST:opac&search_scope=MyInstitution&tab=LibraryCatalog&docid=alma991000916709706806" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/Advanced Practice Nursing Leadership.jpg" alt="">                   
                    <div class="book-container">
                        <h3>Advanced Practice Nursing Leadership: A Global Perspective (Advanced Practice in Nursing</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: Y128 .A389 2020</p>
                                <p>This book is distinctive in its focus on Advanced 
                                    Practice Nursing leadership globally. It highlights
                                    global APN leadership and includes case studies 
                                    on leadership from various regions around the 
                                    world. The book also focuses on coaching and 
                                    mentoring, business acumen, collaboration and 
                                    patient advocacy. (Amazon)</p>
                            </div>
                            <div>
                                <button><a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=852HA_INST:opac&search_scope=MyInstitution&tab=LibraryCatalog&docid=alma991000990899706806" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/Advances in Critical Care Pediatric Nephrology.jpg" alt="">                   
                    <div class="book-container">
                        <h3>Advances in Critical Care Pediatric Nephrology: Point of Care Ultrasound and Diagnostics</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: WS320 .A38 2021</p>
                                <p>This book covers advances in critical care 
                                    pediatric nephrology, including care of sick 
                                    children with acute kidney injury and contains 
                                    detailed guidance on point of care ultrasound in 
                                    children with acute kidney injury and use of 
                                    biomarkers in critically sick children.</p>
                            </div>
                            <div>
                                <button><a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?&context=L&vid=852HA_INST:opac&search_scope=MyInstitution&tab=LibraryCatalog&docid=alma991001035859706806" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/Cleveland Clinic Illustrated Tips and Tricks in Colon and Rectal Surgery.jpg" alt="">                   
                    <div class="book-container">
                        <h3>Cleveland Clinic Illustrated Tips and Tricks in Colon and Rectal Surgery</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: WI650 .C44 2021</p>
                                <p>This book is filled with the collective wisdom and 
                                    experience of surgeons at the busiest department 
                                    of colorectal surgery in the world. It walks you 
                                    through each procedure, with pointers given along 
                                    the way. (Amazon)</p>
                            </div>
                            <div>
                                <button><a href="" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/Difficult Decisions in Thoracic Surgery.jpg" alt="">                   
                    <div class="book-container">
                        <h3>Difficult Decisions in Thoracic Surgery</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: WF980 .D53 2020</p>
                                <p>This book provides a practical guide to decision 
                                    making within thoracic surgery. It contains pithy 
                                    analyses and recommendations that allow useful 
                                    information to be identified at a glance. It also 
                                    brings insight into the challenges faced operating 
                                    on the lung, esophagus, diaphragm, airway, 
                                    pleaura, mediastinum, and chest wall. (Amazon)
                                    </p>
                            </div>
                            <div>
                                <button><a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=852HA_INST:opac&search_scope=MyInstitution&tab=LibraryCatalog&docid=alma991000982109706806" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/Goodman's Neurosurgery Oral Board Review.jpg" alt="">                   
                    <div class="book-container">
                        <h3>Goodman's Neurosurgery Oral Board Review</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: WL18.2 .G662 2020</p>
                                <p>A primer for the Goodman oral board course, a bi&#8722;annual course sponsored by the AANS. It begins 
                                    by initially describing the format of the oral board 
                                    exam. It then examines some of the concepts and 
                                    techniques in the question-answer process that 
                                    forms the major premise of the oral board exam. It 
                                    also contains case presentations, which are 
                                    organized similarly to how oral board questions are 
                                    presented, with a brief history / physical and 
                                    relevant imaging studies, and detailed analysis of 
                                    these cases, as well as key references for each 
                                    case with the salient conclusions from each 
                                    referenced paper. (Amazon)</p>
                            </div>
                            <div>
                                <button><a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=852HA_INST:opac&search_scope=MyInstitution&isFrbr=true&tab=LibraryCatalog&docid=alma991001002799706806" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <div class="grid grid-container1x">
                <div class="grid-item grid-item1x">
                    <img src="../img/Book Covers/Handbook of Sleep Disorders in Medical Conditions.jpg" alt="">                   
                    <div class="book-container">
                        <h3>Handbook of Sleep Disorders in Medical Conditions</h3>
                        <div class="book-details">
                            <div>
                                <p>Call No: WL108 .H36 2019</p>
                                <p>This book reviews the current knowledge on the 
                                    nature and manifestations of sleep disorders 
                                    associated with a variety of common medical 
                                    conditions, including epilepsy, traumatic brain 
                                    injury and dementia. It also provides clinical 
                                    guidelines on how to assess and treat them with 
                                    pharmacological and non-pharmacological 
                                    interventions. It also makes the case that an 
                                    adaptive approach is warranted when considering 
                                    the particularities of each condition.  (Amazon)</p>
                            </div>
                            <div>
                                <button><a href="https://ha.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=852HA_INST:opac&search_scope=MyInstitution&tab=LibraryCatalog&docid=alma99100100563970680" target="_blank">View</a></button>
                                <!-- <button>Reserve</button> -->
                            </div>
                        </div>                        
                    </div>
                    <svg class="expand-icon" viewBox="0 0 1024 1024">
                        <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                    </svg>
                </div>
            </div>
            <span class="underscore-link"><a href="./index.html">Return</a></span>
        </div>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>