<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>
<body>
    <%- include('partials/nav'); %>
    <main class="view">
        <div class="main-container">
            <h2>Upload</h2>
            <div class="grid grid-container1x">
                <form id="upload-books" action="/books/upload" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="title">Title</label>
                        <input type="text" name="title" maxlength="50" autofocus>
                    </div>
                    <div>
                        <label for="author">Authors / Editors</label>
                        <input type="text" name="author" maxlength="100">
                    </div>
                    <div>
                        <label for="isbn">ISBN</label>
                        <input type="text" name="isbn" maxlength="20">
                    </div>
                    <div>
                        <label for="callNo">Call No.</label>
                        <input type="text" name="callNo" maxlength="20">
                    </div>
                    <div>
                        <label for="description">Descrption</label>
                        <textarea name="description" cols="30" rows="10" maxlength="500"></textarea>
                    </div>
                    <div>
                        <label for="img">Browse an Image</label>
                        <input type="file" name="img">
                    </div>
                    <div class="checkbox-container">
                        <label for="isNewAddition">New Addition</label>
                        <input class="checkbox new-addition" type="checkbox" name="isNewAddition">
                    </div>
                    <div class="checkbox-container">           
                        <label for="loanable">Loanable</label>
                        <input class="checkbox loanable" type="checkbox" name="loanable">
                    </div>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <span class="underscore-link"><a href="/">Return</a></span>
        </div>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>